*{
    text-align: center;
    margin: 10px;
    padding: 10px;}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    height: 5cm;
    width: 8cm;
}
body{
    height: 110vh;
    width: 100%;
    margin: 0;padding: 0;
}
li{
    margin: 5px;
}
.p1{
    visibility: hidden;
    transform: translateX(-50px);
}
.p2{
    visibility: visible;
    color: green;
    transform: translateX(0px);
    transition: 0.7s;
}
.p3{
    visibility: visible;
    color: red;
    transform: translateX(0px);
    transition: 0.7s;
}
.box01{
    background: #fbff20;
    border-radius: 50px;
    transition: 0.8s;
    transform: rotate(20deg);
}
.box2{
    z-index: -1;
    position: absolute;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    border: #fbff20 3px solid;
    transform: translate(-50%,-50%);
}
.pr{
    visibility: hidden;
}
.ul2{
    display: block;
}
.box3{
    height: 8cm; 
    width: 8cm; 
}
.box3 *{
    padding: 5px;margin: 0px;
}
#inp1{width: 100%;}